.main {

  & .todoList {
    padding-top: 8px;
    padding-bottom: 8px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;

    height: 280px;
    overflow-y: scroll;

    /* width */
    &::-webkit-scrollbar {
      width: 8px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: white;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #1890ff;
      border-radius: 4px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #7dc0ff;
      cursor: pointer;
    }
  }

  & .form {
    display: flex;
    margin-top: 12px;

    & .textInput {
      flex: 5;

      border: 1px solid #ddd;

      height: 32px;

      font-size: 16px;

      padding: 4px 8px;

      outline: none;

      transition: 0.3s;

      &:hover,
      &:focus {
        border-color: #1890ff;
      }

    }

    & .priority {
      flex: 2;

      border: 1px solid #ddd;

      padding: 4px 8px;
      outline: none;

      transition: 0.3s;

      &:hover,
      &:focus {
        cursor: pointer;
        border-color: #1890ff;
      }

    }

    & .btnSubmit {
      flex: 1;

      border: none;

      color: white;
      background-color: #1890ff;

      transition: 0.3s;

      &:hover {
        opacity: 0.8;
        cursor: pointer;
      }
    }
  }

  & .todoList {}
}