.main {
  padding: 4px 12px;
  font-size: 14px;
  font-weight: 300;
  display: inline-block;
  border-radius: 4px;

}

.Red {
  color: #cf1322;
  border: 1px solid #ffa39e;
  background-color: #fff1f0;
}

.Blue {
  color: #096dd9;
  border: 1px solid #096dd9;
  background-color: #e4f2ff;
}

.Gray {
  color: white;
  background-color: rgb(175, 175, 175);
}